body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}
button{
    width: 11rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: 0.25rem;
}
.values{
    margin: 1rem;
    width: 100%;
}
.buttons{
    display: flex;
    flex-direction: row;
}
input{
    width: 50%;
    margin: 0.15rem;
}